<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAriD6L_keWA7xq46CE0yzl-zOwNV2oDOo</string>
	<key>GCM_SENDER_ID</key>
	<string>112022443008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pttdigital.jupiter</string>
	<key>PROJECT_ID</key>
	<string>pttplc-52908</string>
	<key>STORAGE_BUCKET</key>
	<string>pttplc-52908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112022443008:ios:f25b6ff406eb6bdd7fb4e5</string>
</dict>
</plist>