<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkIEUCsgn_OU7c-wd-CJPtViwntQlhI70</string>
	<key>GCM_SENDER_ID</key>
	<string>977836698225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pttdigital.jupiter.mea</string>
	<key>PROJECT_ID</key>
	<string>poc-mea</string>
	<key>STORAGE_BUCKET</key>
	<string>poc-mea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977836698225:ios:c01c4090d6aefb3620c9d0</string>
</dict>
</plist>